{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "alias": {
          "react-native-payments": "./"
      },
      "cwd": "babelrc"
    }]
  ],
  "presets": ["react-native"]
}
